Data/A_design_d_5_50_binary.csv
Data/A_design_d_5_50_gen_eig.csv
Data/A_design_quad_d_7_k_large.csv
Data/A_design_quad_d_10.csv
Data/A_design_squared_d_50.csv
Data/A_design.csv
Data/d_40_ls_large_runs.csv
Data/d_40_ls_runs.csv
Data/d_40_lsq_runs.csv
Data/d_40_time.png
Data/JMP/d5.xlsx
Data/Runs/5_run.npy
Data/Runs/6_run.npy
Data/Runs/7_run.npy
Data/Runs/8_run.npy
Data/Runs/9_run.npy
Data/Runs/10_run.npy
Data/Runs/11_run.npy
Data/Runs/12_run.npy
Data/Runs/13_run.npy
Data/Runs/14_run.npy
Data/Runs/15_run.npy
Data/Runs/16_run.npy
Data/Runs/17_run.npy
Data/Runs/18_run.npy
Data/Runs/19_run.npy
Data/Runs/20_run.npy
Data/Runs/21_run.npy
Data/Runs/22_run.npy
Data/Runs/23_run.npy
Data/Runs/24_run.npy
Data/Runs/25_run.npy
Data/Runs/26_run.npy
Data/Runs/27_run.npy
Data/Runs/28_run.npy
Data/Runs/29_run.npy
Data/Runs/30_run.npy
Data/Runs/31_run.npy
Data/Runs/32_run.npy
Data/Runs/33_run.npy
Data/Runs/34_run.npy
Data/Runs/35_run.npy
Data/Runs/36_run.npy
Data/Runs/37_run.npy
Data/Runs/38_run.npy
Data/Runs/39_run.npy
Data/Runs/40_run.npy
Data/Runs/41_run.npy
Data/Runs/42_run.npy
Data/Runs/43_run.npy
Data/Runs/44_run.npy
Data/Runs/45_run.npy
Data/Runs/46_run.npy
Data/Runs/47_run.npy
Data/Runs/48_run.npy
Data/Runs/49_run.npy
Data/Runs/50_run.npy
Data/Runs/51_run.npy
Data/Runs/52_run.npy
Data/Runs/53_run.npy
Data/Runs/54_run.npy
Data/Runs/55_run.npy
Data/Runs/56_run.npy
Data/Runs/57_run.npy
Data/Runs/58_run.npy
Data/Runs/59_run.npy
Data/Runs/60_run.npy
Data/Runs/61_run.npy
Data/Runs/62_run.npy
Data/Runs/63_run.npy
Data/Runs/64_run.npy
Data/Runs/65_run.npy
Data/Runs/66_run.npy
Data/Runs/67_run.npy
Data/Runs/68_run.npy
Data/Runs/69_run.npy
Data/Runs/70_run.npy
Data/Runs/71_run.npy
Data/Runs/72_run.npy
Data/Runs/73_run.npy
Data/Runs/74_run.npy
Data/Runs/75_run.npy
Data/Runs/76_run.npy
Data/Runs/77_run.npy
Data/Runs/78_run.npy
Data/Runs/79_run.npy
Data/Runs/80_run.npy
Data/Runs/81_run.npy
Data/Runs/82_run.npy
Data/Runs/83_run.npy
Data/Runs/84_run.npy
Data/Runs/85_run.npy
Data/Runs/86_run.npy
Data/Runs/87_run.npy
Data/Runs/88_run.npy
Data/Runs/89_run.npy
Data/Runs/90_run.npy
Data/Runs/91_run.npy
Data/Runs/92_run.npy
Data/Runs/93_run.npy
Data/Runs/94_run.npy
Data/Runs/95_run.npy
Data/Runs/96_run.npy
Data/Runs/97_run.npy
Data/Runs/98_run.npy
Data/Runs/99_run.npy
Data/Runs/100_run.npy
Plots/approx_k_large_quadratic.png
Plots/approx_k_large_squared.png
Plots/approx_k_large_theory.png
Plots/approx_k_large.png
Plots/iterations_k_large_quad.png
Plots/iterations_k_large.png
Plots/runtime_k_large.png
__pycache__/bar.cpython-39.pyc
__pycache__/bar.cpython-311.pyc
__pycache__/data_writer.cpython-311.pyc
__pycache__/local.cpython-39.pyc
__pycache__/local.cpython-311.pyc
__pycache__/local.cpython-312.pyc
__pycache__/msk.cpython-311.pyc
__pycache__/tools.cpython-39.pyc
__pycache__/tools.cpython-311.pyc
.ipynb_checkpoints/test-checkpoint.ipynb
approx_ratio.png
bar.py
d_40_gap.png
d_40_iters.png
d_40_ls_runs.csv
data_writer.py
fort.61
local_der.nb
msk.py
oldcode.py
ratio_derivative.nb
run_80.png
time_comparison.png
test.ipynb
test_squared.ipynb
tempCodeRunnerFile.py
sc.py
